.navbar {
    width: 100%;
}

ul.navbar1 {
    color: black;
    display: -webkit-box;
    /* float: right; */
    cursor: pointer;
    background-color: #eff1f0;
    /* width: 100%; */
    margin-top: -8px;
    margin-left: -6px;
    padding: 20px;
    /* padding-left: 1012px; */
}

li.navbar11 {
    list-style: none;
    padding: 3px 12px;
}

.duoi {
    position: absolute;
    margin-top: 100px;
    display: -webkit-box;
    padding: 7px 165px;
}

.bangxephang {
    padding: 55px;
    margin-top: -108px;
}

.right {
    text-align: center;
    margin-top: 88px;
    display: grid;
    margin-left: 120px;
}

.right button {
    margin: 10px 5px;
    background-color: white;
    /* border-color: black; */
    border: 1px solid black;
    padding: 10px 24px;
}


.navbar2 {
    float: right;
    margin-right: 32px;
}

ul.right1 {
    display: -webkit-box;
}

.right1 li {
    list-style: none;
    padding: 12px 17px;
}

.right1 a {
    text-decoration: none;
    color: black;
}

a {
    text-decoration: none;
    color: black;
}

.bentrai {
    font-size: 34px;
    padding: 22px;
    font-family: monospace;
}

.benphai {
    margin-left: 5;
    display: flex;
    /* float: right; */
    position: absolute;
    margin-left: 558px;
    padding: 22px 15px;
}


.bocauhoi {
    border: 1px solid;
    margin: 10px 14px;
    border-radius: 10px;
}

.navbar111 {
    text-align: center;
    display: -webkit-inline-box;
    margin: 100px;
    background-color: #efefef;
    padding: 125px 313px;
}

ul.bocauhoi1 {
    padding: 0px 54px;
}


thead {
    border: 1px solid black;
    /* border-bottom: 1px solid black; */
    background-color: antiquewhite;
}

table.rtable {
    border: 1px solid black;
    /* border-color: black; */
    padding: 0px 35px;
}


th {
    padding: 5px 31px;
    text-align: center;
}

td {
    text-align: center;
    cursor: pointer;
}

.container {
    position: absolute;
    background-color: antiquewhite;
    padding: 110px 320px;
    margin: 15px 241px;
    margin-left: 15%;
}


.input-field {
    display: grid;
    padding: 1px -8px;
    margin-bottom: 10px;
}

h5.grey-text.text-darken-3 {
    font-size: 33px;
    font-family: monospace;
    text-align: center;
}

input#email,input#password,input#firstName,input#lastName {
    padding: 5px 60px;
}

label {
    font-family: sans-serif;
}

button.btn.pink.lighten-1.z-depth-0 {
    border: 1px solid transparent;
    background-color: black;
    color: white;
    padding: 13px -4px;
    margin: 8px 90px;
    width: 113px;
    height: 35px;
    text-align: center;
    border-radius: 14px;
}

.cautraloi {
    display: grid;
    margin: 0px 110px;
}

label.radioCustomLabel {
    padding: 10px;
}

.well {
    text-align: center;
    font-size: larger;
    font-family: cursive;
}

.cauhoi {
    background-color: antiquewhite;
}

.cauhoi1 {
    font-size: 25px;
    margin: 15px 68px;
}

span.pull-right {
    margin: 1px 105px;
}

button.nutdua {
    border: 1px solid transparent;
    background-color: black;
    color: white;
    height: 28px;
    width: 200px;
    border-radius: 7px;
}

.Dropdown-root.react-dropdown {
    border: 1px solid black;
    padding: 5px 5px;
    cursor: pointer;
}

.Dropdown-control {
    border-bottom: 1px solid black;
}

.radioCustomLabel img{
    width:100px;
    height: 100px;
}


/*Reponsive Web*/

img {
    max-width: 100%;
  }

  .profilecanha {
    font-size: 30px;
    font-family: cursive;
    margin-bottom: 56px;
}


@media screen and (max-width:1150px){
    .benphai{
        display: none;
        padding:22px 15px;
        position: absolute;
        margin-left: 558px
    }
    .container {
        position: absolute;
        background-color: antiquewhite;
        padding: 110px 320px;
        margin: 15px 241px;
        margin-left: 5%;
    }
}


@media screen and (max-width:868px){
    .benphai{
        display: none;
        padding:22px 15px;
        position: absolute;
        margin-left: 558px
    }
    .duoi{
        position: absolute;
        margin-top: 100px;
        display:block;
        padding: 12px 70px;
    }
    .right{
        display: grid;
        text-align: center;
        margin-left: 0px;
        margin-top: 10px;
    }

    .navbar111 {
        text-align: center;
        display: -webkit-inline-box;
        margin: 100px;
        background-color: #efefef;
        padding: 83px 83px;
    }

    .container {
        position: absolute;
        background-color: antiquewhite;
        padding: 110px 320px;
        margin: 15px 241px;
        margin-left: 0%;
    }
    
}


@media screen and (max-width:638px){
    .benphai{
        display: none;
        padding:22px 15px;
        position: absolute;
        margin-left: 558px
    }
    .duoi{
        position: absolute;
        margin-top: 100px;
        display:block;
        padding: 12px 70px;
    }
    .right{
        display: grid;
        text-align: center;
        margin-left: 0px;
        margin-top: 10px;
    }

    .navbar111 {
        text-align: center;
        display: block;
        margin: 100px;
        background-color: #efefef;
        padding: 105px 53px;
    }

    ul.bocauhoi1 {
        padding: 0px 26px;
    }

    .container {
        position: absolute;
        background-color: antiquewhite;
        padding: 110px 320px;
        margin: 15px 236px;
        margin-left: -2%;
    }
    .emailv {
        position: absolute;
        border: 1px solid;
        background: black;
        color: white;
        z-index: 999;
        padding: 70px 0px;
        border-radius: 5px;
        margin-top: 18%;
        margin-left: 7%;
        margin-right: 7%;
    }
}


@media screen and (max-width:438px){
    .container {
        position: absolute;
        background-color: antiquewhite;
        padding: 110px 320px;
        margin: 15px 236px;
        margin-left: -64%;
    }
}

/*avtar profile*/


.avatar {
    height: 150px;
    position: relative;
    width: 150px;
    margin-bottom: 6px;
  }
  
  .avatar img {
    border-radius: 9999px;
    height: 100%;
    position: relative;
    width: 100%;
    z-index: 2;
  }
  
  @keyframes cycle-colors {
    0% { border-color: hsl(0, 100%, 50%); }
    25% { border-color: hsl(90, 100%, 50%); }
    50% { border-color: hsl(180, 100%, 50%); }
    75% { border-color: hsl(270, 100%, 50%); }
    100% { border-color: hsl(360, 100%, 50%); }
  }
  
  @keyframes pulse {
    to {
      opacity: 0;
      transform: scale(1);
    }
  }
  
  .avatar::before,
  .avatar::after {
    animation: pulse 2s linear infinite;
    border: #fff solid 8px;
    border-radius: 9999px;
    box-sizing: border-box;
    content: ' ';
    height: 140%;
    left: -20%;
    opacity: .6;
    position: absolute;
    top: -20%;
    transform: scale(0.714);
    width: 140%;
    z-index: 1;
  }
  
  .avatar::after {
    animation-delay: 1s;
  }
  
  .avatar:hover img {
    content: url('http://s.blixt.org/hypnotoad.jpg');
  }
  
  .avatar:hover::before,
  .avatar:hover::after {
    animation: pulse 1s linear infinite, cycle-colors 6s linear infinite;
  }
  
  .avatar:hover::after {
    animation-delay: .5s;
  }

  .quanlicanhan {
    margin-left: 53px;
}
 button.hello {
    position: absolute;
    top: 38%;
    left: 83%;
    font-size: 12px;
    border: 1px solid transparent;
    background: black;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    padding: 5px 10px;
}

 span.hi {
    font-size: 20px;
    font-weight: 800;
    margin: 2px;
}


.emailv {
    position: absolute;
    border: 1px solid;
    background: black;
    color: white;
    z-index: 999;
    padding: 61px 17px;
    border-radius: 5px;
    margin-top: 18%;
    margin-left: 12%;
}